.searchWrapper {  
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBox {  
  width: 100%;  
  margin-right: 10px;  
}

.searchBox input {
  padding: 10px;
}

.searchButton {
  margin-top: 5px;  
  background-color: #0078D4 !important;
  color: white; /* Ensure text is visible on the blue background */
}

.buttonsArea {  
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.popOverSurface {
  width: 50%;
} 

.latests {
  font-size: small;
  width: 75%; 
  margin: 40px auto; /* Center the results */
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.results {
  font-size: small;
  width: 75%; 
  margin: 40px auto; /* Center the results */
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.resultCardHeader {
  font-size: large;
  font-weight: bold;  
}

.resultCard {
  width: 100%;
}

.resultDescription {
  margin-top: 10px;
}

.resultThoughts {
  margin-top: 10px;
  color: #555555;
}

.resultCardFooter {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}