.appContainer {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: x-large;
}

.header {  
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  color: #0078D4;
}

.subtitle {
  font-size: large;
  margin-top: 15px;  
}

.sampleCount {
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 15px;  
}

.searchWrapper {  
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBox {  
  width: 100%;  
  margin-right: 10px;  
}

.searchBox input {
  padding: 10px;
  height: 40px;
}

.searchButton {
  margin-top: 5px;  
  background-color: #0078D4 !important;
  color: white; /* Ensure text is visible on the blue background */
}

.buttonsArea {  
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.popOverSurface {
  width: 50%;
} 

.results {
  font-size: medium;
  width: 75%; /* Add this line to set the width to 75% */
  margin: 40px auto; /* Center the results */
}

.resultCardHeader {
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}

.resultCard {
  margin-bottom: 20px;
}

.resultDescription {
  margin-top: 10px;
}

.resultThoughts {
  margin-top: 10px;
  color: #555555;
}

.nav {
  margin-top: 10px;
}

.navLink {
  margin-right: 15px;
  text-decoration: none; 
  font-weight: bold;
}

.navLink:hover {
  text-decoration: underline;
}
