.appContainer {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.title {
  font-size: 36px; /* 24px * 1.5 */
  line-height: 1.5; /* Add this line */
  font-weight: bold;
  color: #0078D4;
}

.subtitle {
  font-size: 27px; /* 18px * 1.5 */
  line-height: 1.5; /* Add this line */
  margin-top: 10px;  
}

.sampleCount {
  font-size: 21px; /* 14px * 1.5 */
  line-height: 1.5; /* Add this line */
  margin-top: 10px;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.inputField {
  width: 300px;
  margin-right: 10px;
}

.searchButton {
  margin-top: 5px;
  background-color: #0078D4;
}

.resultCard {
  margin-bottom: 20px;
}
